<h1>New research</h1>

<%= form_for :research, url: researches_path do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :period_of_execution %><br>
    <%= f.text_field :period_of_execution %>
  </p>

  <p>
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>